{% extends 'base_detail_list.html' %}
{% load static %}
{% block main_content %}
<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' goods_sku.goods.id 1 %}">{{goods_sku.type.name}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{goods_sku.image.url}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods_sku.name}}</h3>
			<p>{{goods_sku.desc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods_sku.price}}</em></span>
				<span class="show_unit">单  位：{{goods_sku.unite}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="number" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em></em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
				{% for new_goods in new_goods_list %}
					<li>
						<a href="{% url 'goods:detail' new_goods.id %}"><img src="{{new_goods.image.url}}"></a>
						<h4><a href="{% url 'goods:detail' new_goods.id %}">{{new_goods.name}}</a></h4>
						<div class="prize">￥{{new_goods.price}}</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goods_sku.goods.detail|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>
	<div class="for_goods_id">{{goods_sku.id}}</div>
{% endblock main_content %}

{% block bottom %}
  <div class="add_jump"></div>
{% endblock bottom %}
{% block bottomfiles %}
  <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
	$(function ($){
			var price = $('.show_pirze').children('em').text()
			price = parseFloat(price)
			var count = $('.num_show').val()
			count = parseInt(count)
			console.log('===>price:' + price)
			console.log('===>count:' + count)
			var tatol_price = price * count
			$('.total').children('em').text(tatol_price.toFixed(2))

			$('.add').click(function(){
				count += 1
				$('.num_show').val(count)
				tatol_price = count * price
				$('.total').children('em').text(tatol_price.toFixed(2))
			})

			$('.minus').click(function(){
				count -= 1
				if (count < 1) {
					count = 1
				}
				$('.num_show').val(count)
				tatol_price = count * price
				$('.total').children('em').text(tatol_price.toFixed(2))
			})
			$('.num_show').blur(function(){
				count = $('.num_show').val()
				count = parseInt(count)
				if (isNaN(count) || count < 1 || count > 999){
					count = 1
				}
				$('.num_show').val(count)
				console.log('====>count:'+ count)

				tatol_price = count * price
				$('.total').children('em').text(tatol_price.toFixed(2))
			})
		});
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$('#add_cart').click(function(){
		$.get('/goods/add_cart/', {
				'goods_id': $('.for_goods_id').text(),
				'add_count': $('.num_show').val()
			}, function (data) {
				console.log('====>jsondata:')
				console.log(data)
				$('#show_count').html(data.goods_count);
			})
		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
<!--						$('#show_count').html(2);-->
					});

			});
		})
	</script>
{% endblock bottomfiles %}
