{% extends 'base_no_cart.html' %}
{% load static %}
{% block page_title %}
购物车
{% endblock page_title %}
{% block body %}
<div class="total_count">全部商品<em>{{total_count}}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
{% for goods_sku in goods_sku_list %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="{{goods_sku.image.url}}"></li>
		<li class="col03">{{goods_sku.image.name}}<br><em>{{goods_sku.price}}元/{{goods_sku.unite}}</em></li>
		<li class="col04">{{goods_sku.unite}}</li>
		<li class="col05">{{goods_sku.price}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="1">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">25.80元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>{{total_count}}</b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>
{% endblock body %}