{% extends 'base_no_cart.html' %}
{% load static %}
{% block page_title %}
购物车
{% endblock page_title %}
{% block body %}
<div class="total_count">全部商品<em>{{total_count}}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
{% for goods_sku in goods_sku_list %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="{{goods_sku.image.url}}"></li>
		<li class="col03">{{goods_sku.name}}<br><em>{{goods_sku.price}}元/{{goods_sku.unite}}</em></li>
		<li class="col04">{{goods_sku.unite}}</li>
		<li class="col05">{{goods_sku.price}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="number" class="num_show fl" value="{{goods_sku.cart_count}}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"><span></span>元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
		<li id="for_goods_id" style="display:none">{{goods_sku.id}}</li>
	</ul>
{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>0</em><br>共计<b>{{total_count}}</b>件商品</li>
		<li class="col04"><a href="{% url 'order:create_order' %}">去结算</a></li>
	</ul>
{% endblock body %}
{% block bottomfiles %}
  <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
{% csrf_token %}
	<script type="text/javascript">
		$(function ($){
			var list1 = $('.cart_list_td')
			$.each($('.cart_list_td'), function (index, value) {
				// console.log(index, value)

				var price = $(this).children('.col05').text()
				price = parseFloat(price)
				var count = $(this).children('.col06').find("input[type='number']").val()
				count = parseInt(count)
				var tatol_price = price * count
				$(this).children('.col07').children('span').text(tatol_price.toFixed(2))

				// add = $(this).children('.col06').find('.add').text()
				// console.log(add)

				$(this).children('.col06').find('.add').click(function(){
					count += 1
					$(this).next("input[type='number']").val(count)
					tatol_price = count * price
					tmp = $(this).parent('.num_add').parent('.col06').next('.col07').children('span').text(tatol_price.toFixed(2))
					total_price()
				})
				$(this).children('.col06').find('.minus').click(function(){
					count -= 1
					if (count < 1) {
						count = 1
					}
					$(this).prev("input[type='number']").val(count)
					tatol_price = count * price
					tmp = $(this).parent('.num_add').parent('.col06').next('.col07').children('span').text(tatol_price.toFixed(2))
					total_price()
				})
				$(this).children('.col01').children("input[type='checkbox']").change(function() {
					// a = $(this).prop('checked')
					// console.log(a)
					total_price()
				})
				function csrfSafeMethod(method) {
					// these HTTP methods do not require CSRF protection
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
				$(this).children('.col08').children('a').click(function(){
					var self = $(this)
					var csrftoken = $("[name='csrfmiddlewaretoken']").val()
					$.ajaxSetup({
							beforeSend: function(xhr, settings) {
									if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
											xhr.setRequestHeader("X-CSRFToken", csrftoken);
									}
							}
					});
					$.post('/cart/cart_del/', {
						'cart_goods_id': $('.cart_list_td').eq(index).children('#for_goods_id').text(),
						}, function (data) {
							console.log('====>jsondata:')
							console.log(data)
							if(data['ret'] === 'failed') {
								location.href = '/goods/index'
							}else if (data['ret'] === 'success'){
								//location.href = '/cart/info'
								self.parent().parent().remove()
							}
						}
					)
				})
			})
			// 全选
			$('.settlements').children('li.col01').children("input[type='checkbox']").change(function(){
				var is_checked = $(this).prop('checked')
				$('.cart_list_td').children('.col01').children("input[type='checkbox']").prop('checked', function(i, val){
					console.log(i, val)
					if (is_checked) {
						return true
					}
					return false
				})
				total_price()
			})
			// 算总价格
			total_price()
		});
		function total_price(){
			var total_price = 0
			var total_count = 0
			$.each($('.cart_list_td'), function (index, value) {
				if ($(this).children('.col01').children("input[type='checkbox']").prop('checked')){
					var price = $(this).children('.col07').children('span').text()
					price = parseFloat(price)
					total_price += price
					var count = $(this).children('.col06').find("input[type='number']").val()
					count = parseInt(count)
					total_count += count
				}
			})
			$('.settlements').children('li.col03').children('em').text(total_price.toFixed(2))
			$('.settlements').children('li.col03').children('b').text(total_count)
			$('.total_count').children('em').text(total_count)
		}
	</script>
{% endblock bottomfiles %}