<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<img src="{{pic.image.url}}" alt="测试">
</body>
</html>

{% comment %}
{# 测试 #}
{% extends 'base_no_cart.html' %}
{% load static %}
{% block title %}测试{% endblock title %}
{% block page_title %}测试{% endblock page_title %}}
{% block body %}
	<strong>测试</strong>
{% endblock body %}
{% endcomment %}

