{% extends 'base_user_center.html' %}
{% load static %}
{% block right_content %}
<div class="right_content clearfix">
	<h3 class="common_title2">收货地址</h3>
	<div class="site_con address_default">
		<dl>
			<dt>默认地址：</dt>
			{% if default_address %}
				<dd>{{default_address.addr}} （{{default_address.receiver}} 收） {{default_address.phone}}</dd>
			{% endif %}
		</dl>
	</div>
	<div class="site_con address_other">
		<dl>
			<dt>全部地址：</dt>
			{% for address_item in address_list %}
			<div><input type="radio" name="pay_styl" value="{{address_item.id}}"> <dd style="display:inline-block;">{{address_item.addr}} （{{address_item.receiver}} 收） {{address_item.phone}}</dd></div>
			{% endfor %}
		</dl>
		<input type="button" name="" value="设置默认地址" class="btn_submit">
	</div>
	<h3 class="common_title2">编辑地址</h3>
	<div class="site_con">
		<form action="{% url 'user:address' %}" method="post">
			<div class="form_group">
				<label>收件人：</label>
				<input type="text" name="receiver">
			</div>
			<div class="form_group form_group2">
				<label>详细地址：</label>
				<textarea class="site_area" name="detail_address"></textarea>
			</div>
			<div class="form_group">
				<label>邮编：</label>
				<input type="text" name="zip_post">
			</div>
			<div class="form_group">
				<label>手机：</label>
				<input type="text" name="phone_num">
			</div>

			<input type="button" name="" value="提交" class="info_submit">
		</form>
	</div>
</div>
{% endblock right_content %}
{% block bottomfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
		$(function(){
			$('.btn_submit').click(function(){
				$('.address_other').find('dd').each(function(index, elem){
					// console.log($(this).text())
					// console.log(index, elem)
				})
				var ckeck_input = $('.address_other').find("input:checked")
				if (ckeck_input.length > 0){
					console.log(ckeck_input.val())
					$('.address_default').find('dd').text(ckeck_input.next().text())
				}
			})
			$('input.info_submit').click(function(){
			var self = $(this)
				var param = {
					'receiver': $("input[name='receiver']").val(),
					'detail_address': $("textarea[name='detail_address']").val(),
					'zip_post': $("input[name='zip_post']").val(),
					'phone_num': $("input[name='phone_num']").val()
				}
				ajaxPost('', param, function(){
				}, function(){
				})
			})
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			function ajaxPost(url, param, successFun, failFun) {
				var csrftoken = $("[name='csrfmiddlewaretoken']").val()
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});
				$.post(url, param, function (data) {
					console.log(data)
					if(data['ret'] === 'failed') {
						failFun()
					}else if (data['ret'] === 'success'){
						successFun()
					}
				})
			}
		})
	</script>
{% endblock bottomfiles %}