{% extends 'base_user_center.html' %}
{% load static %}
{% block right_content %}
<div class="right_content clearfix">
	<h3 class="common_title2">全部订单</h3>
	{% for order_info in user_order_queryset %}
	<ul class="order_list_th w978 clearfix">
		<li class="col01">{{order_info.create_time}}</li>
		<li class="col02">订单号：{{order_info.order_id}}</li>
		<li class="col02 stress">{{order_info.payment_status}}</li>
	</ul>

	<table class="order_list_table w980">
		<tbody>
			<tr>
				<td width="55%">
					{% for order_goods in order_info.ordergoods_set.all %}
					<ul class="order_goods_list clearfix">
						<li class="col01"><a href="{% url 'goods:detail' order_goods.sku.id %}"><img src="{{order_goods.sku.image.url}}"></a></li>
						<li class="col02">{{order_goods.sku.name}}<em>{{order_goods.sku.price}}元/{{order_goods.sku.unite}}</em></li>
						<li class="col03">{{order_goods.count}}</li>
						<li class="col04">{{order_goods.price}}元</li>
					</ul>
					{% endfor %}
				</td>
				<td width="15%">{{order_info.total_price}}元</td>
				<td width="15%">{{order_info.payment_status}}</td>
				<td width="15%"><a href="#" orderId="{{order_info.order_id}}" class="oper_btn">去付款</a></td>
			</tr>
		</tbody>
	</table>
	{% endfor %}


	<div class="pagenation">
		{% if user_order_queryset.has_previous %}
		<a href="{% url 'user:order' user_order_queryset.previous_page_number %}"><上一页</a>
		{% endif %}
		{% for pindex in pages %}
			{% if pindex == user_order_queryset.number %}
				<a href="{% url 'user:order' pindex %}" class="active">{{pindex}}</a>
			{% else %}
				<a href="{% url 'user:order' pindex %}">{{pindex}}</a>
			{% endif %}
		{% endfor %}
		{% if user_order_queryset.has_next %}
		<a href="{% url 'user:order' user_order_queryset.next_page_number %}"><下一页</a>
		{% endif %}
	</div>
</div>
{% endblock right_content %}
{% block bottomfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
{% csrf_token %}
	<script type="text/javascript">
		$(function(){
			$('.oper_btn').click(function(){
			var self = $(this)
				var param = {
					'order_id': $(this).attr('orderId')
				}
				ajaxPost('/order/pay_order', param, function(data){
					console.log(data)
				}, function(){
					alert('操作失败了')
				})
			})
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			function ajaxPost(url, param, successFun, failFun) {
				var csrftoken = $("[name='csrfmiddlewaretoken']").val()
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});
				$.post(url, param, function (data) {
					console.log(data)
					if(data['ret'] === 'failed') {
						failFun()
					}else if (data['ret'] === 'success'){
						successFun(data)
					}
				})
			}
		})
	</script>
{% endblock bottomfiles %}